
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1em;
  /* font-family: $headings-font-family; */
  font-weight: 500;
  line-height: 1.2em;
  color: #222;
}

h1, .h1 { font-size: 28px; }
h2, .h2 { font-size: 24px; }
h3, .h3 { font-size: 20px; }
h4, .h4 { font-size: 16px; }
h5, .h5 { font-size: 15px; }
h6, .h6 { font-size: 14px; }

p {
  margin-bottom: 1.5em;
}

.lead {
  font-size: 120%;
  font-weight: 400;
}

hr {
  margin-top: 1em;
  margin-bottom: 2em;
  border: 0;
  border-top: 1px solid #666;
}
