.topnav {
  min-height: 50px;
  background-color: #fff;
  display: flex;
  background-color:#38474f;
  color: #ccc;
}

.topnav a,
.topnav a:visited
{
  color: #ccc;
}

.topnav-left {
  min-width: 200px;
  display: flex;
  align-items: center;
}

@media (min-width: 40em) {
  .topnav-left {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.topnav-left-logo {
  font-size: 1.5em;
  padding: .5em;
}

@media (min-width: 40em) {
  .topnav-left-logo {
    font-size: 1.5em;
    padding: .3em;
  }
}

.topnav-left-app-name {
  display:none;
}

@media (min-width: 40em) {
  .topnav-left-app-name {
    display:block;
    font-variant: small-caps;
    font-size: 1.2em;
  }
}

.topnav-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.topnav-right-left {
}

.topnav-right-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topnav-icon {
  padding: 0 12px;
  font-size: 1.5em;
}

