.topnav {
  min-height: 50px;
  background-color: #fff;
  display: flex;
}

.topnav-left {
  min-width: 200px;
  background-color: #0f1519;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0f1519;
  color: #ccc;
}

.topnav-left-logo {
  font-size: 1.5em;
  padding: .3em;
}

.topnav-left-app-name {
  font-variant: small-caps;
  font-size: 1.2em;
}

.topnav-right {
  color: #000;
  flex: 1;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

