.topnav {
  min-height: 50px;
  background-color: #fff;
  display: flex;
  background-color:#38474f;
  color: #ccc;
  padding: 0 1em;
}

.topnav a,
.topnav a:visited
{
  color: #ccc;
}

.topnav-main {
  position: relative;
  z-index: 100;
}

.topnav-secondary {
  border-top: 1px solid #666;
  z-index: 99;
  height: 0px;
  width:100%;
  overflow-x: scroll;
  top: 50;
  transform: translateY(-100%);
  position: fixed;
  transition: transform 0.3s;
}

.topnav-secondary.active {
  transform: translateY(0);
  display: flex;
}

@media (min-width: 40em) {
  .secondarynav-toggle-icon a {
    display: none;
  }
}

.topnav-left {
  min-width: 200px;
  display: flex;
  align-items: center;
}

@media (min-width: 40em) {
  .topnav-left {
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.topnav-left-logo {
  font-size: 1.5em;
}

@media (min-width: 40em) {
  .topnav-left-logo {
    font-size: 1.5em;
    padding: .3em;
  }
}

.topnav-left-app-name {
  display:none;
}

@media (min-width: 40em) {
  .topnav-left-app-name {
    display:block;
    font-variant: small-caps;
    font-size: 1.2em;
  }
}

.topnav-right {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topnav-right-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topnav-icongroup {
  padding: 0 10px;
  font-size: 1.5em;
}
